@import '../../../styles/global.scss';

.homeContainer {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  height: calc(100vh - 240px);
  width: calc(100vw - 40px);
  line-height: 1;
  text-align: center;
  border: 3px solid $color-white;
  overflow-y: scroll;
}

.homeTitle {
  z-index: 99;
  margin: 10px;
  font-size: 2rem;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px $color-main-one;
  &:after {
    content: '';
    position: absolute;
    top: 87px;
    right: calc(50% - 230px);
    width: 460px;
    height: 3px;
    background-color: $color-white;
  }
}

.homeSubtitle {
  z-index: 99;
  margin: 10px;
  font-size: 1.1rem;
  letter-spacing: 8px;
  text-shadow: 1px 1px $color-main-one;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.homeContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.homeContainer {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.homeBcgColor {
  background-color: $color-main-two;
}

.homeListWrapper {
  margin: 30px 0 0 0;
  ul {
    padding: 0;
    list-style: none;
  }
}

.homeButtonText {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  color: $color-white;
}

@media(max-width: 576px) {
  .homeContainer {
    height: calc(100vh - 200px);
  }
  .homeTitle {
    font-size: 1.7rem;
    &:after {
      height: 0;
    }
  }
  .homeSubtitle {
    font-size: 1.0rem;
    letter-spacing: 4px;
  }
}