@import '../../../styles/global.scss';

.panelContainer {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 10px;
  height: 80px;
  line-height: 1;
  border: 3px solid $color-white;
  background-color: $color-main-two;
}

.panelActive {
  display: flex;
}

.panelButtonText {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  color: $color-white;
}

@media(max-width: 576px) {
  .panelContainer {
    height: 130px;
  }
  .panelActive {
    display: flex;
  }
}